@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --clr-magenta: hsl(300, 43%, 22%);
    --clr-pink: hsl(333, 80%, 67%);

    --clr-dark: hsl(303, 10%, 53%);
    --clr-light: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
}

body {
    font-family: 'Spartan', sans-serif;
    background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
}

.header {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.header > div {
    width: 100%;
}

.title {
    font-size: 2rem;
    margin-bottom: 1em;
    color : var(--clr-magenta);
    text-align: center;
}

.subtitle {
    color: var(--clr-dark);
    text-align: center;
}

.achievements {
    background-color:  hsl(300, 24%, 96%);
    border: transparent;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 0;
}

.list__stars {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.star {
    list-style: none;
    height: 25px;
    width: 25px;
    background: url('../images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.title-star {
    font-weight: var(--fw-bold);
    color: var(--clr-magenta);
    margin: 0.5rem 0;
    font-size: 12px;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.card {
    margin-top: 1rem;
    height: 200px;
    background-color: var(--clr-magenta);
    border: transparent;
    border-radius: 8px;
    padding: 2em;
    color: white;
    display: grid;
    font-size: 12px;
    grid-template-areas: "img name"
                         "img graduate"
                         "comment comment";
    grid-template-columns: minmax(20px, 60px) auto;
    gap: 0.5rem 0.8rem;
}

.profile-img {
    border: transparent;
    border-radius: 50%;
    grid-area: img;
    width: 100%;
}

.name {
    grid-area: name;
    font-weight: var(--fw-semi-bold);
    margin: auto 0 0;
}

.graduate {
    grid-area: graduate;
    color: var(--clr-pink);
    margin: 0 0 auto;
}

.comment {
    grid-area: comment;
    line-height: 2;
}

@media screen and (min-width: 720px){
    body {
        font-family: 'Spartan', sans-serif;
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    }

    .header {
        flex-direction: row;
    }

    .header > div:first-child {
        padding: 0 3rem 0 0;
    }

    .title {
        text-align: left;
        font-size: 3rem;
    }

    .subtitle {
        text-align: left;
    }

    .header > div:last-child {
        display: flex;
        flex-direction: column;
    }

    .achievement-2 {
        align-self: center;
    }

    .achievement-3 {
        align-self: flex-end;
    }

    .achievements {
        width: 80%;
        margin: 0.3rem 0;
    }

    .reviews {
        flex-direction: row;
        gap: 2rem;
    }
    
    .reviews > .card:nth-of-type(1) {
        margin-top: 1rem;
    }

    .reviews > .card:nth-of-type(2) {
        margin-top: 2rem;
    }

    .reviews > .card:nth-of-type(3) {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        margin: 1rem;
        max-width: 1200px;
    }

    .header {
        margin: 0 auto 5%;
        justify-content: space-between;
    }

    .header > div:last-child {
        margin-left: 4rem;
    }

    .title {
        font-size: 52px;
    }

    .subtitle {
        font-size: 20px;
    }

    .achievements {
        display: flex;
        justify-content: space-evenly;
    }

    .reviews {
        margin: 0;
    }
}